Reviews.Core.EventStore.Tests/obj
.idea
console-app/bin
console-app/obj
Reviews.Core.EventStore.Tests/bin
Reviews.Core.EventStore/bin
Reviews.Core.EventStore/obj
Reviews.Core/bin
Reviews.Core/obj
Reviews.Domain.Test/bin
Reviews.Domain.Test/obj
.DS_Store
Reviews.Domain/bin
Reviews.Domain/obj
Reviews.Service.WebApi/bin
Reviews.Service.WebApi/obj
Subscribe-demo/bin
Subscribe-demo/obj

