Reviews.Core.EventStore.Tests/obj
.idea/.idea.event-store-demo/.idea
.idea
.idea/.idea.event-store-demo
console-app/bin
console-app/obj
Reviews.Core.EventStore.Tests/bin
Reviews.Core.EventStore/bin
Reviews.Core.EventStore/obj
Reviews.Core/bin
Reviews.Core/obj
Reviews.Domain.Test/bin
Reviews.Domain.Test/obj
.DS_Store
Reviews.Domain/bin
Reviews.Domain/obj
Reviews.Service.WebApi/bin
Reviews.Service.WebApi/obj
Subscribe-demo/bin
Subscribe-demo/obj
Reviews.Core.Projections.RavenDb/obj
Reviews.Core.Projections.RavenDb.Test/bin
Reviews.Core.Projections.RavenDb.Test/obj
Reviews.Core.Projections.RavenDb/bin
http-requests-log.http
PersistantSubscription/PersistentSubscription/bin
PersistantSubscription/PersistentSubscription/obj
PersistantSubscription/WritingEvents/obj
PersistantSubscription/WritingEvents/bin
Reviews.Service.QueryApi/bin
Reviews.Service.QueryApi/obj
Reviews.Service.Contract/bin
Reviews.Service.Contract/obj
Reviews.Core.Snapshots.Providers/bin
Reviews.Core.Snapshots.Providers/obj
src/Reviews.Core.EventStore/obj
src/Reviews.Core.Projections.RavenDb/bin
src/Reviews.Core.Projections.RavenDb/obj
src/Reviews.Core.Snapshots.Providers/bin
src/Reviews.Core.Snapshots.Providers/obj
src/Reviews.Core/obj
src/Reviews.Domain/obj
src/Reviews.Service.Contract/obj
src/Reviews.Service.WebApi/bin
src/Reviews.Service.WebApi/obj
tests/Reviews.Core.EventStore.Tests/bin
tests/Reviews.Core.EventStore.Tests/obj
tests/Reviews.Core.Projections.RavenDb.Test/bin
tests/Reviews.Core.Projections.RavenDb.Test/obj
src/Reviews.Service.QueryApi/obj
src/Reviews.Service.Contract/bin
src/Reviews.Domain/bin
src/Reviews.Core.EventStore/bin
src/Reviews.Core/bin
tests/Reviews.Domain.Test/obj
chapters/01-event-store-before/Reviews.Core.EventStore.Tests/obj
chapters/01-event-store-before/Reviews.Core.EventStore/obj
chapters/01-event-store-before/Reviews.Core/obj
chapters/01-event-store-before/Reviews.Domain.Test/obj
chapters/01-event-store-before/Reviews.Domain/obj
chapters/01-event-store-before/Reviews.Service.WebApi/obj
